.admin-payslip-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Content Area */
.admin-payslip-content {
  flex: 1;
  padding: 20px;
  margin-top: 40px;
  margin-left: 190px;
  transition: margin-left 0.3s ease;
}

.admin-payslip-content.collapsed {
  margin-left: 60px; /* Adjust based on sidebar width */
}